/* Instructions */
.instructions {
    margin: 5px 0;
}

/* Validation */
.error {
    color: red;
}


/* Guess characters */
.guess-characters {
    margin-bottom: 5px;
}
.guess-characters > form {
    display: inline-block;
    margin-bottom: 5px;
}
.guess-character {
    width: 25pt;
    font-size: large;
    border-radius: 5px;
    background-color: #0099cc;
    color: white;
    text-align: center;
}
.guess-character:disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
}
.correct-guess-character, .correct-guess-character:disabled {
    background-color: #007ba3;
    color: white;
}
.incorrect-guess-character, .incorrect-guess-character:disabled {
    background-color: red;
    color: white;
    text-decoration: line-through;
}


/* Revealed answer */
.revealed-answer-character {
    width: 25pt;
    height: 25pt;
    margin-bottom: 5px;
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
}
.revealed-answer-character-shown {
    border-color: transparent;
}


/* gallows */
.gallows {
    margin: 10px 50px;
    font-size: x-large;
    font-weight: bold;
}
.gallows > pre {
    margin: 0;
}


/* Message */
.message {
    margin: 5px 0;
}


/* Play again */
.play-again {
    width: 100%;
    font-size: large;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #0099cc;
    color: #ffffff;
}


.guess-answer {
    width: 100%;
    font-size: x-large;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #0099cc;
    color: #ffffff;
}
.guess-answer:disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
}


/* Answer */
.text-answer {
    margin-bottom: 5px;
    font-size: x-large;
}
.button-answer {
    width: 100%;
    font-size: large;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #0099cc;
    color: #ffffff;
}


/* Dialog */
.dialog-confirm {
    display: none;
}